.game-wrapper{
  background-color: rgb(109, 99, 99);
  width: 100%;
}
.play-field-wrapper{
  display: flex;
  flex-direction: column;
  border-top: 3px solid red;
}

.play-field {
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.board-element {
  width: 50%;
  border: 2px solid green;
  padding: 20px;
  margin-top: 5px;
}

.action-board {
  width: 100%;
  height: 100px;
  padding: 0;
}

.action-board > div {
  margin:0;
}

.action-board > div > p {
  margin: 0;
  padding: 0;
}