.playfield-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.mana-wrapper {
  width: 10%;
  border: 2px solid black;
  border-radius: 10px;
}

.creature-wrapper{
  display: flex;
  flex-direction: row;
  width: 90%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.playing-card{
  margin: 3px;
  border: 2px solid gold;
  border-radius: 5%;
  background-color: silver;
}

.mana-card{
  width: 70px;
}

.playing-card > h6 {
  margin: 4px;
}
.mana-card > p {
  margin:0px;
  font-size: 8px;
}
.creature-card > p {
  margin: 15px 10px;
  font-size: 8px;
}

.mana-color {
  width: 100%;
  height: 35px;
  margin-top: 17px;
  margin-bottom: 17px;
  background-color: firebrick;
}

.small-font{
  font-size: 8px;
  margin: 2px 0px;
}

.small-font > p {
}


.creature-card {
width: 120px;
height: 250px;
}

.creature-image{
  padding: 5px;
  margin: 10px;
}

.ability-button{
  border: 1px dotted gray;
  margin: 5px;
  padding: 5px;
}

.ability-button:hover {
  background-color: rgba(255, 217, 0, 0.384);
  cursor: grabbing;
  
}